* {
    box-sizing: border-box;
}

/* BASE */

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h2 {
    margin-bottom: 15px;
}

.btn {
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-go {
    background-color: green;
}

.btn-remove {
    background-color: red;
}

.map {
    flex-grow: 1;
}

.weather-container {
    text-align: center;
    background-color: #ccc;
    padding: 15px;
}

.weather-container h2 {
    border-bottom: 1px solid black;
}

.locations {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    border-top: 1px solid black;
}

.locations li {
    padding: 15px;
}

.locations li:nth-child(even) {
    background-color: rgb(136, 129, 129);
}

/* HELPERS */
.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}