* {
    box-sizing: border-box;
}

/* BASE */

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('/img/bg.jpg');
    background-size: cover;
}

button {
    font-family: sans-serif;
}

header {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin-bottom: 15px;
}

.main-container {
    gap: 20px;
}

.map {
    width: 100%;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

[name="location"] {
    transition: 2s;
    border-radius: 6px;
    border: none
}

[name="location"]:focus {
    width: 200px;
}

.search-btn {
    border-radius: 5px;
    border: none;
    background-color: #4AA96C;
    margin: 0px 10px;
}

.btn-go {
    background-color: #4AA96C;
}

.btn-remove {
    background-color: #DA0037;
}

.weather-container {
    text-align: center;
    background-color: #ccc;
    padding: 15px;
}

.weather-container h2 {
    border-bottom: 1px solid black;
}

.locations {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    border-top: 1px solid black;
}

.locations li {
    padding: 15px;
}

.locations li:nth-child(even) {
    background-color: #e0e0e0
}

/* HELPERS */

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.main-layout {
    max-width: 1100px;
    margin: auto;
}